.student-list {
    .page-container {

        background-color: #cf4392;
    }

   

    .table {
        padding: 10px;
        border-radius: 10px;
        background: white;
    }

    .footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
    }

    
}

.header {
    box-shadow: 1px 1px 1px grey;
    width: 100%;
    background: linear-gradient(218.41deg, #442f84 14.07%, #cf4392 75.34%);
    color: white;
    padding: 10px 20px;
    display: flex;
}

.filter{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    width: 100%;

    @media (min-width: 480px) {
        flex-direction: row;
    }
}